.userInfo {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.125);

  .user {
    display: flex;
    align-items: center;
    gap: 20px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      border: 1px solid rgba(255, 255, 255, 0.125);
    }

    h2 {
      font-size: 1rem;
    }
  }

  .icons {
    display: flex;
    gap: 10px;

    img {
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
  }
}
