.detail {
  flex: 1;

  .user {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.125);
    text-align: center;

    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.125);
    }

    h2 {
      letter-spacing: 0.4px;
      font-size: 1rem;
    }

    p {
      font-size: 0.7rem;
      letter-spacing: 0.2px;
    }
  }

  .info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .option {
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.125);

        img {
          width: 30px;
          height: 30px;
          cursor: pointer;
          background-color: rgba(17, 25, 40, 0.5);
          padding: 10px;
          border-radius: 50%;
        }

        span {
          font-size: 0.8rem;
        }
      }
      .photos {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 10px;
        .photoItem {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .photoDetail {
            display: flex;
            align-items: center;
            gap: 20px;
            img {
              width: 35px;
              height: 35px;
              border-radius: 5px;
              object-fit: cover;
            }
            span {
              font-size: 12px;
              color: #a5a5a5;
              font-weight: 300;
            }
          }

          .icon {
            width: 30px;
            height: 30px;
            cursor: pointer;
            background-color: rgba(17, 25, 40, 0.5);
            padding: 10px;
            border-radius: 50%;
            border: 1px solid rgba(255, 255, 255, 0.125);
          }
        }
      }
    }
    button {
      padding: 5px 20px;
      color: white;
      background-color: rgba(230, 47, 105, 0.553);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      &.logout {
        background-color: #70679a;
      }
    }
  }
}
