.login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 100px;

  .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .logo {
      background-image: url("./sea.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 5rem;
      border: 2px solid black;
    }

    .format {
      line-height: 40px;
      span {
        color: #bb82f8;
        font-size: 2rem;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      input {
        padding: 15px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        outline: none;
        background-color: rgba(17, 25, 40, 0.6);
        color: white;
        border-radius: 5px;
      }

      label {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        text-decoration: underline;

        img {
          width: 50px;
          height: 50px;
          border-radius: 10px;
          border: 1px solid rgba(255, 255, 255, 0.125);
          object-fit: cover;
        }
      }
      button {
        width: 100%;
        padding: 15px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        /* background-color: #1f8ef1; */
        background-color: #bb82f8;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 500;

        &:disabled {
          cursor: not-allowed;
          background-color: #bb82f89e;
        }
      }
    }
  }
  .separator {
    height: 80%;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.125);
  }
  .item {
    form {
      label {
        color: #bb82f8;
        text-transform: lowercase;
      }
    }
  }
}
