@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  font-optical-sizing: auto;
}

body {
  background-image: url("https://images.unsplash.com/photo-1504892612018-159ffa1d147f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  border: 5px solid black;
  overflow: hidden;
  background-color: #17183c;
}

.container {
  width: 99.8vw;
  height: 99.2vh;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(10px) saturate(180%);
  border: 2px solid rgba(255, 255, 255, 0.125);

  border-radius: 12px;
  display: flex;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  border-radius: 10px;
  background-color: rgba(17, 25, 40, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.125);
  width: 99.8vw;
  height: 99.2vh;
}
