.addUser {
  width: 50%;
  background-color: rgba(13, 1, 22, 0.958);
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  .overlay {
    width: max-content;
    background-color: rgba(9, 15, 26, 0.892);
    height: max-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    .load {
      padding-top: 10px;
    }
  }

  form {
    display: flex;
    gap: 20px;

    input {
      border: 1px solid rgba(255, 255, 255, 0.125);
      outline: none;
      padding: 15px;
      border-radius: 10px;
      background-color: rgba(17, 25, 40, 0.6);
      color: white;
    }
    button {
      background-color: #8962b3ea;
      padding: 15px;
      border-radius: 10px;
      color: white;
      border: 1px solid rgba(255, 255, 255, 0.125);
      cursor: pointer;
    }
  }
  .user {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .detail {
      display: flex;
      align-items: center;
      gap: 20px;
      img {
        object-fit: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.125);
      }
    }
    button {
      background-color: #8962b3ea;
      padding: 10px;
      border-radius: 10px;
      color: white;
      border: 1px solid rgba(255, 255, 255, 0.125);
      cursor: pointer;
    }
  }
}
